#root {
  margin: 0;
  padding: 0;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 90%;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    letter-spacing: 0.25em;
    color: #1f1f21;
    user-select: none;
  }

  .card {
    text-align: center;

    .label {
      color: rgb(0, 122, 255);
      font-weight: bold;
      letter-spacing: 0.25em;
      user-select: none;
    }

    .answer {
      color: rgb(255, 45, 85);
      font-weight: bold;
      letter-spacing: 0.25em;
    }

    .age {
      color: #1f1f21;
      font-size: 6em;
    }

    .select {
      margin: 0 auto;
    }
  }

  .no-select {
    user-select: none;
  }
}
