* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -webikit-touch-callout: none;
  -webkit-tap-highlight-color: transparent !important;
}

html,
body,
#root {
  height: 100%;
}
